/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p180@bridge/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p180@bridge/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p180@bridge/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p180@bridge/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p180@bridge/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p180@bridge/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p180@bridge/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p180@bridge/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../.rvm/gems/ruby-1.9.2-p180@bridge/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 9, ../../app/stylesheets/partials/_scaffold.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 19, ../../app/stylesheets/partials/_scaffold.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 23, ../../app/stylesheets/partials/_scaffold.scss */
#notice {
  color: green;
}

/* line 27, ../../app/stylesheets/partials/_scaffold.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 33, ../../app/stylesheets/partials/_scaffold.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

/* line 42, ../../app/stylesheets/partials/_scaffold.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

/* line 53, ../../app/stylesheets/partials/_scaffold.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 15, ../../app/stylesheets/home.scss */
html, body {
  height: 100%;
}

/* line 18, ../../app/stylesheets/home.scss */
body {
  background: url("/images/page-bk.jpg") repeat fixed 0 0 #e6e6e6;
  font: 13.34px helvetica,arial,freesans,clean,sans-serif;
  color: #444444;
}

/* line 24, ../../app/stylesheets/home.scss */
#main {
  height: 100%;
  margin: 0 auto;
}

/* line 29, ../../app/stylesheets/home.scss */
h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* line 35, ../../app/stylesheets/home.scss */
h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* line 41, ../../app/stylesheets/home.scss */
h3 {
  font-size: 18px;
}

/* line 45, ../../app/stylesheets/home.scss */
a {
  color: #4183c4;
  text-decoration: none;
  cursor: pointer;
}
/* line 4, ../../../../.rvm/gems/ruby-1.9.2-p180@bridge/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
a:hover {
  text-decoration: underline;
}

/* line 50, ../../app/stylesheets/home.scss */
table {
  font-size: inherit;
  font: 100%;
}

/* line 52, ../../app/stylesheets/home.scss */
select, option {
  padding: 0 .25em;
}

/* line 53, ../../app/stylesheets/home.scss */
optgroup {
  margin-top: .5em;
}

/* line 54, ../../app/stylesheets/home.scss */
input.text {
  padding: 1px 0;
}

/* line 55, ../../app/stylesheets/home.scss */
pre, code {
  font: 12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

/* line 56, ../../app/stylesheets/home.scss */
body * {
  line-height: 1.4em;
}

/* line 57, ../../app/stylesheets/home.scss */
p {
  margin: 1em 0;
}

/* line 58, ../../app/stylesheets/home.scss */
img {
  border: 0;
}

/* line 59, ../../app/stylesheets/home.scss */
abbr {
  border-bottom: none;
}

/* line 61, ../../app/stylesheets/home.scss */
.notice {
  color: green;
}

/* line 65, ../../app/stylesheets/home.scss */
label {
  cursor: pointer;
}

/* line 69, ../../app/stylesheets/home.scss */
button, a.button, span.button {
  cursor: pointer;
  border: 1px solid #dddddd;
  border-radius: 4px;
  background-color: #fff;
  padding: 2px 6px;
  text-decoration: none;
}
/* line 77, ../../app/stylesheets/home.scss */
button:hover, a.button:hover, span.button:hover {
  border-color: #888888;
}

/* line 81, ../../app/stylesheets/home.scss */
a.button {
  font-size: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
}

/* line 1, ../../app/stylesheets/partials/_userbar.scss */
#user-bar {
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FCFCFC',endColorstr='#ECECEC');
  background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#fcfcfc), to(#e8e8e8));
  background: -moz-linear-gradient(270deg, #fcfcfc, #ececec);
  float: right;
  padding: 9px 10px 7px;
  font-weight: bold;
  font-size: 12px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 2px #888888;
  overflow: hidden;
  *zoom: 1;
}
/* line 13, ../../app/stylesheets/partials/_userbar.scss */
#user-bar ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../../../../.rvm/gems/ruby-1.9.2-p180@bridge/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#user-bar ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../.rvm/gems/ruby-1.9.2-p180@bridge/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#user-bar ul li:first-child, #user-bar ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../.rvm/gems/ruby-1.9.2-p180@bridge/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#user-bar ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../.rvm/gems/ruby-1.9.2-p180@bridge/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#user-bar ul li.last {
  padding-right: 0;
}
/* line 15, ../../app/stylesheets/partials/_userbar.scss */
#user-bar ul li {
  padding: 0 9px 0 8px;
}

/* line 1, ../../app/stylesheets/partials/_nav.scss */
#nav {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  border-radius: 5px;
  background-color: #4183c4;
  color: #FFFFFF;
  padding: 8px;
  position: relative;
}
/* line 2, ../../app/stylesheets/partials/_nav.scss */
#nav a {
  font-weight: bold;
  color: #FFFFFF;
  padding: 4px;
  border-radius: 4px;
  border: 2px solid #4183c4;
}
/* line 8, ../../app/stylesheets/partials/_nav.scss */
#nav a:hover {
  border-color: #336699;
  background-color: #6699cc;
  text-decoration: none;
}
/* line 60, ../../../../.rvm/gems/ruby-1.9.2-p180@bridge/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#nav li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../.rvm/gems/ruby-1.9.2-p180@bridge/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#nav li:first-child, #nav li.first {
  padding-left: 0;
}
/* line 49, ../../../../.rvm/gems/ruby-1.9.2-p180@bridge/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#nav li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../.rvm/gems/ruby-1.9.2-p180@bridge/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#nav li.last {
  padding-right: 0;
}
/* line 21, ../../app/stylesheets/partials/_nav.scss */
#nav .search {
  position: absolute;
  right: 5px;
  top: 5px;
  float: right;
}

/* line 89, ../../app/stylesheets/home.scss */
#header {
  height: 105px;
  width: 958px;
  margin: 0 auto;
}
/* line 93, ../../app/stylesheets/home.scss */
#header h1 {
  font-family: 'Amaranth', arial, serif;
  line-height: 1.0;
  padding-top: 5px;
  font-size: 34px;
  margin-bottom: 0;
}
/* line 100, ../../app/stylesheets/home.scss */
#header h2 {
  font-family: 'Amaranth', arial, serif;
  margin-bottom: 0;
  font-size: 16px;
  font-style: italic;
  margin-left: 10px;
}

/* line 111, ../../app/stylesheets/home.scss */
#site {
  box-shadow: 0 2px 4px #BBB;
  background-color: #FFF;
  width: 928px;
  min-height: 400px;
  padding: 10px 15px;
  margin: 0 auto;
}

/* line 122, ../../app/stylesheets/home.scss */
.mission {
  margin: 10px 0;
  padding: 10px;
  border-top: 1px solid #444444;
}
/* line 126, ../../app/stylesheets/home.scss */
.mission div.mission-label {
  font-size: 22px;
  font-weight: bold;
}

/* line 132, ../../app/stylesheets/home.scss */
#footer {
  width: 958px;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin: 10px auto;
}
/* line 60, ../../../../.rvm/gems/ruby-1.9.2-p180@bridge/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#footer li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../.rvm/gems/ruby-1.9.2-p180@bridge/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#footer li:first-child, #footer li.first {
  padding-left: 0;
}
/* line 49, ../../../../.rvm/gems/ruby-1.9.2-p180@bridge/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#footer li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../.rvm/gems/ruby-1.9.2-p180@bridge/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#footer li.last {
  padding-right: 0;
}
/* line 137, ../../app/stylesheets/home.scss */
#footer ul li {
  padding-right: 4px;
}
/* line 139, ../../app/stylesheets/home.scss */
#footer ul li a {
  margin-right: 4px;
}

/* line 145, ../../app/stylesheets/home.scss */
.results .result {
  background: none repeat scroll 0 0 #DDDDDD;
  box-shadow: 1px 1px 2px #888888;
  margin-bottom: 6px;
  padding: 4px;
}

/* line 154, ../../app/stylesheets/home.scss */
.services li {
  position: relative;
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 4px;
}
/* line 158, ../../app/stylesheets/home.scss */
.services li .actions {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 164, ../../app/stylesheets/home.scss */
.services li .service-types span {
  border: none;
  padding: 2px 10px;
  margin: 0 4px;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #4183C4;
}
